body{
    background-color: #EDF6F9;
}

.container{
    margin-top: 10px;
}

.boxBloo{
    background-color:#E29578;
    height: 50px;
}

.item{
    display: inline;
    padding: 10px;
    margin:10px;
    color: #2F2F2F;
    align-items: center;
    margin-bottom: 20px;
}

.cont1{
    margin-top: 25px;
}

.tableS .card-panel{
    background-color: #FFDDD2;
    align-items:center;
    line-height: 0,5;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}