body{
    background-color: #EDF6F9;
}

.container{
    margin-top: 10px;
}

.boxBloo{
    background-color:#E29578;
    height: 50px;
}

.item{
    display: inline;
    padding: 10px;
    margin:10px;
    color: black;
    align-items: center;
    margin-bottom: 20px;
}

.cont1{
    margin-top: 25px;
}